.container{
  /*overflow-y: scroll;*/
    position: absolute;
    top: 10%;
    left: -25%;
    height: 100%;
    width: 80%;
    
  }

  .fondo{
    top: 12%;
    left: 10%;
    width: 110%;
    height: 55em;
    
  }

  #iniciosesion{

      background-color:   #1d2138  !important;
      color: rgb(255, 255, 255) !important;
      opacity: 75% !important;
      border-radius: 2em !important;
      left: 32em !important;
  }

  .botonLogin{
    width: 10em !important;
    opacity: 100% !important;;
  }

  .container1{
    overflow-y: scroll;
    position:fixed;
    top: 10%;
    left: 22%;
    right: 30%;
    height: 100%;
    width: 75%;
    
  }

  .container2{
    /*overflow-y: scroll;*/
    position:absolute;
    top: 2%;
    left: 22%;
    right: 50%;
    height: 100%;
    width: 75%;
    
  }

  .container1, .container2 h3{
    font-size: 2.5em;
  }

  .container1, .container2 label{
    font-size: 1.5em; 
  }

  .container1 .container2 button{
    font-size: 1.5em;
  }

  .inicio{
    height: 10em;
    width: 10em;
  }

  .titulo1 {
    font-size: 2em;
  }

  .fondo{
    background:  #c6e8ed ;
  }

  :root{
    --primary: ;
    --light: #fff;
    --grey: #efefef;
  }

  body{
    overflow-y: scroll;
    overflow: hidden;
    color: var(--primary);
  }

  #sidebar-container{
    min-height: 100vh;
    background-color: #0a0e39 !important;
    width: 18rem;
    font-size:22px;
    font-weight:400;
  }

  /*#sidebar-container .nav-link{
    color: white;
  }
*/
  
  #sidebar-container .menu{
    width: 18rem;
  }


  a:link, a:visited, a:active {
    text-decoration:none;
}




.actividades{
  margin-right: 10px;
  text-align: center;
  display: flex;
}

#boton2{
  left: 20%;
  width: 50%;
  position:absolute;
}

.dropdown {
  width: 400px;
  /*margin: 0 auto;*/
  position: relative;
}

.dropdown .dropdown-btn{
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content{
  position: absolute;
  top: 110%;
  left: 0;
  padding: 15px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
}

.dropdown .dropdown-content .dropdown-item{
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover{
  background: #f4f4f4;
}
i{
  font-size: 1.5rem; 
  color: cornflowerblue;
  padding: 1rem 1rem;
}
i#cerrarsesion{
  font-size: 2rem; 
  color: cornflowerblue;
}
i#index{
  font-size: 8rem; 
  color: rgb( 32, 118, 217);
}
/*ul{
  margin : 0;
  padding:0;
  color:white
}

ul li a:hover{
  color: blue;
}
a:hover{
  color:blue;
}*/