.container{
  overflow-y: scroll;
    position: absolute;
    top: 10%;
    left: 32%;
    height: 100%;
    width: 80%;
    
  }

  .fondo{
    top: 50%;
    left: 100%;
    width: 125em;
    height: 60em;
    
  }

  #iniciosesion{

      background-color:   #1f180e  !important;
      color: #fff !important;
      opacity: 50% !important;
      border-radius: 2em !important;
      left: 32em !important;
    
  }

  .botonLogin{
    width: 10em !important;
  }

  .container1{
    overflow-y: scroll;
    position:fixed;
    top: 10%;
    left: 22%;
    right: 30%;
    height: 100%;
    width: 75%;
    
  }

  .container2{
    overflow-y: scroll;
    position:absolute;
    top: 2%;
    left: 22%;
    right: 30%;
    height: 100%;
    width: 75%;
    
  }

  .container1, .container2 h3{
    font-size: 2.5em;
  }

  .container1, .container2 label{
    font-size: 1.5em; 
  }

  .container1 .container2 button{
    font-size: 1.5em;
  }

  .inicio{
    height: 10em;
    width: 10em;
  }

  .titulo1 {
    font-size: 2em;
  }

  .fondo{
    background:  #c6e8ed ;
  }

  :root{
    --primary: ;
    --light: #fff;
    --grey: #efefef;
  }

  body{
    overflow-y: scroll;
    overflow: hidden;
    color: var(--primary);
  }

  #sidebar-container{
    min-height: 100vh;
    background-color: #111854 !important;
  }

  #sidebar-container .logo{
    padding: 2rem 1.25rem;
  }

  
  #sidebar-container .menu{
    width: 18rem;
  }


  a:link, a:visited, a:active {
    text-decoration:none;
}



i {
  font-size: 30px;
  padding: 1rem 1rem;
}

.actividades{
  margin-right: 10px;
  text-align: center;
  display: flex;
}

#boton2{
  left: 20%;
  width: 50%;
  position:absolute;
}

.dropdown {
  width: 400px;
  /*margin: 0 auto;*/
  position: relative;
}

.dropdown .dropdown-btn{
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content{
  position: absolute;
  top: 110%;
  left: 0;
  padding: 15px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
}

.dropdown .dropdown-content .dropdown-item{
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover{
  background: #f4f4f4;
}